@model List<ProductCategory>
@{ 
    var categoryFromController = ViewBag.CategoryId;
}

<div class="categories">
    <div class="category">
        <span>Kategorie</span>
    </div>
    <ul class="no-dots">
        @foreach (var category in Model)
        {
            <li class="@(categoryFromController == category.Id ? "active-category" : "")"><a href="@Url.Action( "Index", "Shop", new { category=category.Id})">@category.Name</a></li>
        }
    </ul>
</div>

