.cart-list {
    margin-bottom: 5px;
}
.cart-list .cart-title{
    padding-bottom: 10px;
}
.cart-list .list-group{
    padding:0;
}
.cart-list .list-group-item{
    margin-bottom: 5px;
}
.no-border {
    margin: 0;
    border: none;
}
.item-number {
    text-align: center;
}
.cart-list .cart-image {
    padding: 0;
}
.cart-image img {
    width: 110px;
    height: 110px;
}
.cart-list .cart-remove {
    padding: 0;
}
.cart-list .cart-remove svg {
    cursor: pointer;
}
.cart-final {
    padding: 0;
}
.cart-final .cart-final-price{
    text-align: right;
    padding: 0;
}