

@section Styles{
    <link href="~/lib/jquery-bar-rating/dist/themes/fontawesome-stars.css" rel="stylesheet" />
    <link href="~/css/Shop/Details.css" rel="stylesheet" />
}




<div class="container">
    <div class="borderbox">
        <div class="row m-0 p-0">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="~/img/przykladowe.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Apple MacBook Pro M1/8GB/256/Mac OS Space Gray </h4>
                        <div class="grade-count mb-2">
                            <a href="#reviews-accordion" id="reviews">Opinie (3)</a>
                            <div>
                                <select id="ratingbar">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>

                            </div>
                        </div>

                        <h3 class="mt-4">6666,66 zł</h3>
                        <input type="number" name="num" value="1" min="1" max="999" class="form-control one-width" />
                        <button class="mt-2 btn btn-secondary one-width" id="btn-addtocart">
                            <span id="btn-cart">
                                <i class="fas fa-lg fa-shopping-cart mr-2"></i>
                                Dodaj do koszyka
                            </span>
                        </button>
                    </div>
                </div>
            </div>


        </div>
        <div class="row m-0 p-0" id="details-nav">
            <div class="col-6 text-center  border border-right m-0" id="description">
                Opis produktu
            </div>
            <div class="col-6 text-center  border border-left  m-0" id="reviews-panel">
                Opinie użytkowników
            </div>
        </div>

        <div id="description-accordion" class="d-none">
            <div class="col-12">
                <div class="text-body text-justify p-5">
                    @for (int i = 0; i < 4; i++)
                    {
                    
                        <div class="mt-2">
                            <h4>W 60 sekund dookoła Apple MacBook Pro M1</h4>
                            <p class="text-secondary">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit in ex rutrum mattis. Nulla tristique dictum arcu, non tincidunt nisl convallis at. Ut lacinia leo sed aliquet fermentum. Pellentesque quis massa ac purus maximus lobortis. Pellentesque fringilla dignissim sagittis. Nam facilisis arcu eu ipsum sollicitudin elementum. Nulla cursus condimentum consequat. Curabitur volutpat, tortor eget sagittis ultrices, ex risus laoreet quam, vel sodales turpis lacus a magna. Vivamus ac lorem in metus euismod varius. Nullam et enim egestas, sodales arcu vel, dapibus ex.
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="reviews-accordion" class="d-none">
            <div class="col-12">
                <div class="text-body text-justify p-5">
                    @for (int i = 0; i < 5; i++)
                    {

                        @for (int j = 0; j < 5; j++)
                        {
                            <i class="fas fa-star"></i>
                        }

                        <div class="my-2 border-bottom">
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facere voluptatem enim soluta eaque non molestias blanditiis adipisci excepturi praesentium!
                                </p>
                                <footer class="blockquote-footer">Janusz Macioszek</footer>
                            </blockquote>
                        </div>
                    }
                </div>
                    </div>
        </div>
    </div>

</div>



@section Scripts {
    <script src="~/js/Shop/details.js"></script>
    <script src="~/lib/jquery-bar-rating/jquery.barrating.js"></script>

}