
@{
    ViewBag.Title = "Zarejestruj się";
}



<form asp-controller="" asp-action="" method="post">
    <div class="jumbotron text-center">
        <h3 class="mb-3">Zarejestruj się</h3>
        <div class="row">
            <div class="form-group input-group col-sm-12 col-lg-4  mx-auto">
                <input class="form-control" type="text" @*asp-for="Name"*@ placeholder="Imię" />
                <span class="text-danger input-group" @*asp-validation-for="Name"*@></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-group col-sm-12 col-lg-4  mx-auto">
                <input class="form-control" type="text" @*asp-for="Surname"*@ placeholder="Nazwisko" />
                <span class="text-danger input-group" @*asp-validation-for="Surname"*@></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-group col-sm-12 col-lg-4  mx-auto">
                <input class="form-control" type="text" @*asp-for="Username"*@ placeholder="Nazwa użytkownika" />
                <span class="text-danger input-group" @*asp-validation-for="Username"*@></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-group col-sm-12 col-lg-4  mx-auto">
                <input class="form-control" type="password" @*asp-for="Password"*@ placeholder="Hasło" />
                <span class="text-danger input-group" @*asp-validation-for="Password"*@></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-group col-sm-12 col-lg-4  mx-auto">
                <input class="form-control" type="password" @*asp-for="Password2"*@ placeholder="Powtórz hasło" />
                <span class="text-danger input-group" @*asp-validation-for="Password2"*@></span>
            </div>
        </div>
        <div class="row ">
            <div class="col-4 col-sm-12 mx-auto">
                <input class="btn btn-dark text-center" type="submit" value="Utwórz konto" />
            </div>
        </div>

    </div>


</form>
