@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<form asp-action="Login" method="post">
    <div class="jumbotron text-center">
        <h3 class="mb-3">Zaloguj się</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
        <div class="row">
            <div class="form-group input-group col-sm-12 col-lg-4 mx-auto">
                <span class="input-group-text bg-dark"><i class="fas fa-user text-white"></i></span>
                <input class="form-control" asp-for="Email" placeholder="Email" />
                <span class="text-danger w-100" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-group col-sm-12 col-lg-4 mx-auto">
                <span class="input-group-text bg-dark"><i class="fas fa-lock text-white"></i></span>
                <input class="form-control" asp-for="Password" placeholder="Hasło" />
                <span class="text-danger w-100" asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-4 col-sm-12 mx-auto">
                <input class="btn btn-dark text-center" type="submit" value="Zaloguj się" />
            </div>
        </div>
    </div>
</form>
<style>
    ul {
        padding: 0;
        list-style: none;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}