.borderbox {
    border-radius: 0;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
    vertical-align:middle;

}
.card{
    height:100%;
}

.card-body{
    vertical-align:middle;  
}

#btn-addtocart{
    border:none;
    border-radius:0;
}

.one-width{
    width:200px;   
    text-align:center;
    border-radius:0;
}
#btn-cart{
    text-transform:uppercase;
    font-size:14px;
}
.fa-thumbs-up {
    color: #008711cc;
}
.fa-thumbs-down {
    color: #dd1111d9;
}

#details-nav div{
    text-transform:uppercase;
    letter-spacing:3px;
    vertical-align:middle;
    padding:20px;
    cursor:pointer;
}

.tile-active {
    background: gray;
    color: white;
    text-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.fa-star {
    color: #edb867;
}