
.product-description {
    text-align: center;
}

.product-description a {
    color: black;
    text-decoration: none;
}

.sort {
    border: 1px solid #ebebeb;
}

.sort .form-group {
    margin-top: 10px;
}

.sort-description {
    background: gray;
    color: white;
    padding: 10px 25px 10px 40px;
}

#order {
    width: 80%;
    text-align: center;
    margin: auto;
}

.product-list img {
    height: 150px;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.btn-addtocart {
    border: none;
    border-radius: 0;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}
.spinner-border {
    width: 14px;
    height: 14px;
}

.toast-header {
    background: #808080;
}

.toast-container > .toast > .toast-header strong {
    padding-right: 20px;
    color: white;
}

.pagination {
    margin-top: 20px;
    margin-left: -15px;
    padding: 0;
    border-radius: 0;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0;
}

.page-link {
    color: #000;
}

.page-item.active .page-link {
    background: #808080;
    border-color: #808080;
}

.page-link:hover{
    color:#000;
}

.button-stick-bottom {
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}