.no-style a{
    text-decoration: none;
    color: black;
}
.no-style li {
    margin: 10px 0;
}
.onlyborderleft {
    border-left: 1px solid #ebebeb;
}
.list {
    list-style-type: none;
    padding-left: 15px;
}
.order {
    border: 1px solid #ebebeb;
}
.status{
    color: green;
}
.padding{
    padding: 0;
}
.margin-0{
    margin: 0;
}
.bg-colo-gray{
    background-color: #ebebeb;
}
