@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="categories">
                <div class="category">
                    <span>Kategorie</span>
                </div>
                <ul class="no-dots">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <li><a href="#">Kategoria @i</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
